<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <head>
        <title>Login e Cadastro</title>
        <link rel="stylesheet" type="text/css" href="style.css">

        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <!-- javaScript -->

        <script type="text/javascript" src="/script/fun.js"></script>
    </head>
    <header>
        <nav>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>

<body>
    <div class="container">
        <div class="form-container sign-up-container">
            <form>
                <h1>Cadastre-se</h1>
                <input type="text" placeholder="Nome completo" required>
                <input type="email" placeholder="Email" required>
                <input type="text" placeholder="Nome de usuário" required>
                <input type="password" placeholder="Senha" required>
                <button>Cadastrar</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form>
                <h1>Login</h1>
                <input type="text" placeholder="Nome de usuário ou email" required>
                <input type="password" placeholder="Senha" required>
                <button>Entrar</button>
            </form>
        </div>
    </div>
    <script src="script.js"></script>
</body>

</html>

<!DOCTYPE html>
<html>

<head>
    <title>Minha Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <main>
        <section>
            <h1>Psicólogos e psiquiatras online!</h1>
            <p>Seu psicólogo a qualquer hora, em qualquer lugar.</p>
            <button>Agendar com um Profissional</button>
        </section>
    
    </main>
    
    <footer>
        <p>Direitos autorais © 2023 - Minha Empresa. Todos os direitos reservados.</p>
    </footer>
</body>

</html>
<footer1>
    <div class="social-icons">
      <a href="#"><img src="https://pt-br.facebook.com/" alt="Facebook"></a>
      <a href="#"><img src="https://web.whatsapp.com/" alt="whatsapp"></a>
      <a href="#"><img src="https://www.instagram.com/" alt="Instagram"></a>
    </div>
  </footer>

<!DOCTYPE html>
<html>

<head>
